<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ATAMNYN AMANATY</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo.png" rel="icon">
    <link href="assets/img/logo.png" rel="icon-atamnyn-amanaty">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
<!--    <link href="assets/css/style.css" rel="stylesheet">-->
</head>
<body>
<a href="index.html" class="btn apply" role="button" aria-pressed="true">Вернуться на главную страницу</a>

<form  class="container mt-4 form-container">
    <div class="form-group">
        <label for="choice">Ваш дедушка вернулся с ВОВ?</label>
        <select class="form-control" v-model="selectedOption" id="choice">
            <option value="option1">Вернулся с ВОВ</option>
            <option value="option2">Не вернулся с ВОВ</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fullName">ФИО (кого ищут)</label>
        <input class="form-control" v-model.trim="fullName" id="fullName" type="text">
    </div>

    <div class="form-group">
        <label for="relativeName">Если известно, укажите имя прадеда, деда, отца разыскиваемого</label>
        <input class="form-control" v-model="relativeName" id="relativeName" type="text">
    </div>

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="birthYear">Год рождения</label>
                <select class="form-control" v-model="selectedYear" id="birthYear">
                    <option value="" disabled>Выберите год</option>
                    <option v-for="year in years" :key="year" :value="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="birthDay">День и месяц рождения (если известно)</label>
                <input class="form-control" v-model.trim="dateBirth" id="dateBirth" type="text">
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="birthInterval">Если год рождения неизвестен, укажите примерный интервал (например, 1897-1905)</label>
        <input class="form-control" v-model="birthInterval" id="birthInterval" type="text">
    </div>

    <div class="form-group">
        <label for="birthCountry">Место рождения: страна и область</label>
        <input class="form-control" v-model="birthCountry" id="birthCountry" type="text">
    </div>

    <div class="form-group">
        <label for="birthPlace">Место рождения: город, район, населенный пункт</label>
        <input class="form-control" v-model="birthPlace" id="birthPlace" type="text">
    </div>

    <div class="form-group">
        <label for="enlistmentDate">Месяц и год призыва</label>
        <input class="form-control" v-model="enlistmentDate" id="enlistmentDate" type="text">
    </div>

    <div class="form-group">
        <label for="choice">Семейный статус</label>
        <select class="form-control" v-model="selectedOption" id="choice">
            <option value="option1">женат</option>
            <option value="option1">холост</option>
            <option value="option1">разведен</option>
            <option value="option2">неизвестно</option>
        </select>
    </div>

    <div class="form-group">
        <label for="text">Количество детей и их имена</label>
        <input class="form-control" v-model="text" id="quantityChild" type="text">
    </div>

    <div class="form-group">
        <label for="message">Кого из родных мог указать Ваш дедушка в анкете призыва на фронт?
            (например, Жанагуль - жена, Ботагоз - сестра)</label>
        <input class="form-control" v-model="message" />
    </div>

    <div class="form-group">
        <label for="captivityInfo">Есть ли информация, что Ваш дедушка был в плену?</label>
        <div>
            <input type="radio" id="captivityYes" name="captivity" value="yes" v-model="captivityInfo">
            <label for="captivityYes">Да</label>
        </div>
        <div>
            <input type="radio" id="captivityNo" name="captivity" value="no" v-model="captivityInfo">
            <label for="captivityNo">Нет</label>
        </div>
        <div>
            <input type="radio" id="captivityUnknown" name="captivity" value="no" v-model="captivityInfo">
            <label for="captivityNo">Неизвестно</label>
        </div>

    </div>

    <div class="form-group">
        <label for="captivityLocationInfo">Если выше указали ответ "ДА", то известно ли, где был пленен (указать любую информацию)</label>
        <textarea class="form-control" id="captivityLocationInfo" v-model="captivityLocationInfo"></textarea>
    </div>

    <div class="form-group">
        <label for="file">Прикрепить файлы, если необходимо:</label>
        <input class="form-control" type="file" @change="handleFileUpload" id="file">
    </div>

    <button type="submit" class="btn btn-apply">
        Отправить
    </button>

</form>
<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>